
.container-fluid {
    background: #60bc4b;
}

.navbar-toggler {
    position: relative;
    left: -1450px;
    border: 3px solid #60bc4b;
}

.offcanvas {
    width: 200px;
    height: auto;
    background: #60bc4b;
    margin-top: 70px;
}

.nav-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.card-group {
    width: 1000px;
    height: 300px;
    margin: auto;
    position: relative;
    top: 300px;
}

.card-title {
    text-align: center;
}

.card-text {
    width: 60px;
    height: 60px;
    margin: auto;
    text-align: center;
    font-size: 40px;
    background: #60bc4b;
}

.keels-img {
    width: 200px;
    height: 60px;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


@media (max-width: 1200px) {
    .navbar-toggler {
        left: -1200px;
    }

    .card-group {
        width: 800px;
        top: 200px;
    }

    .keels-img {
        width: 150px;
    }
}

@media (max-width: 992px) {
    .navbar-toggler {
        left: -900px;
    }

    .card-group {
        width: 600px;
        top: 150px;
    }

    .keels-img {
        width: 120px;
    }

    .card-text {
        font-size: 30px;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .navbar-toggler {
        left: -600px;
    }

    .card-group {
        width: 100%;
        top: 100px;
        height: auto;
    }

    .card-text {
        font-size: 24px;
        width: 50px;
        height: 50px;
    }

    .keels-img {
        width: 100px;
    }
}

@media (max-width: 576px) {
    .navbar-toggler {
        left: -400px;
    }

    .card-group {
        width: 100%;
        height: auto;
        top: 50px;
    }

    .keels-img {
        width: 80px;
        height: auto;
    }

    .card-text {
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 375px) {
    .navbar-toggler {
        left: -200px;
    }

    .card-group {
        width: 100%;
        height: auto;
        top: 30px;
    }

    .keels-img {
        width: 70px;
        height: auto;
    }

    .card-text {
        font-size: 16px;
        width: 35px;
        height: 35px;
    }
}
